{% extends '::template.html.twig' %}
  {% block body %}
    <div class="container">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">

          <div class="col-md-12 marg20">
            {% for resultat in globalResults %}
              <div class="col-md-4" align="center">
                <h2 align="center">{{ resultat.candidat|upper }}</h2>
                <hr>
                <img src="{{ asset('bundles/app/images/'~resultat.candidat.nom~'.jpg') }}">
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div> <!-- /container -->
  {% endblock %}

  {% block javascripts %}
    {{ parent() }}
  {% endblock %}